<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: MyCV Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="${visitorMessage}"/>
<p th:text="'My name is '+ ${myName}"/>
<p th:text="'I was born on '+${birthPlace}+', '+${birthDate}"/>
<p th:text="'My house is at '+${address}"/>
<p th:text="'University : '+${university}"/>
<p th:text="'About me...'"/>
<p th:text="${essay}"/>

</body>
</html>